body {
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    left: 20px;
    /* Suppose you want minimum width of 1000px */
    /* width: auto !important;
    /* Firefox will set width as auto */
    /* width: 1000px; */
}

h1 {
    color: white;
    text-align: center;
    display: block;
}

h2 {
    color: white;
    text-align: center;
    display: block;
}

p {
    color: white;
    font-family: verdana;
    font-size: 20px;
    display: block;
}

.form-uname {
    font-size: 30px;
    text-align: center;
}

#nameField {
    height: 20px;
    background-color: rgb(203, 233, 228);
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

#f-cross {
    width: 150px;
    height: 150px;
    margin: 250px auto;
    front-size: 100px;
}

#parentdiv {
    position: relative;
    width: 0px;
    height: 0px;
    background-color: black;
    border-radius: 150px;
    margin: 250px auto;
    /* margin-right: 25px; */
    text-align: center;
}

#dashboard {
    display: none;
    padding: 100px;
}

#report {
    display: none;
    text-align: center;
}

#download_csv {
    display: none;
}

#send_csv {
    display: none;
}

#registration {
    display: block;
}

#test {
    display: none;
}

.column {
    float: left;
    left: 50px;
    right: 50px;
    width: 50%;
    /* padding: 10px; */
    /* display: block; */
    /* margin: 10px auto; */
    /* Should be removed. Only for demonstration */
    /* text-align: left;*/
    position: relative;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
    /* margin: 0px auto;
    width: 100%; */
}

button {
    width: 150px;
    height: 30px;
    margin: 20px auto;
    background-color: #4CAF50;
    font-size: 16px;
    display: block;
    cursor: pointer;
    border: none;
}

.div2 {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100px;
}


/* .div_f {
    position: absolute;
    width: 0px;
    height: 0px;
    font-size: 6rem;
    
    background-color: white;
  
} */

p span {
    font-family: "Courier New", monospace;
}

.div_f {
    background: white;
    height: 20px;
    position: relative;
    width: 4px;
    text-align: center;
}

.div_f:after {
    background: white;
    content: "";
    height: 4px;
    left: -8px;
    position: absolute;
    top: 8px;
    width: 20px;
}


/* 
.fixdiv {
    background: red;
    height: 100px;
    position: relative;
    width: 20px;
    text-align: center;
}

.fixdiv:after {
    background: red;
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px;
} */